<app-master-create-view
  (newOrderEvent)="orderCreated()"
></app-master-create-view>

<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()" *ngIf="orderExist">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Producto: {{ nameProduct }}</mat-card-title>
      <mat-card-subtitle>Precio: ${{ priceProduct }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Cantidad</mat-label>
            <input
              matInput
              placeholder="quantity"
              formControlName="quantity"
              type="number"
            />
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">
        Agregar a carro
      </button>
    </mat-card-actions>
  </mat-card>
</form>
